<!-- <div class="jumbotron"><h1>{{message}}</h1></div> -->
<div class="container">
	<form class="form-signin">
		<h2 class="form-signin-heading">Please sign into StoryTracker</h2>
		<label for="inputEmail" class="sr-only">Email address</label>
        <input ng-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
			<label>
				<input type="checkbox" value="remember-me"> Remember me
			</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
	<div>Test: {{email}}</div>
	<div>Test: {{password}}</div>
</div> <!-- /container -->