<ol class="breadcrumb">
    <li><a href="/#/stories"><i class="fa fa-book"></i> Stories</a></li>
    <li><a href="/#/stories/{{reader.storyId}}"><i class="fa fa-pencil-square-o"></i> {{reader.title}}</a></li>
    <li><a href="/#/stories/{{reader.storyId}}/readers"><i class="fa fa-table"></i> Readers</a></li>
    <li class="active">{{reader.name}}</li>
</ol>
<div class="panel panel-warning">
    <div class="panel-heading"><h3 class="panel-title"><em>{{reader.title}}</em> read by {{reader.name}}</h3></div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <label for="name-{{reader.storyId}}">Name</label>
                    <input ng-model="reader.name" ng-change="updateReader(reader)" class="form-control" type="text" id="name-{{reader.storyId}}" />
                </div>
                <div class="col-md-6">
                    <label for="readDate-{{reader.storyId}}">Read Date</label>
                    <div class="input-group" id="readDate-{{reader.storyId}}">
                        <input type="text" class="form-control" ng-change="updateReader(reader)" is-open="status.readerOpened" uib-datepicker-popup ng-model="reader.readDate" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="status.readerOpened=!status.readerOpened"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="comment-{{reader.storyId}}">Comments</label>
                    <textarea ng-model="reader.comment" ng-change="updateReader(reader)" class="form-control" id="comment-{{reader.storyId}}"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer visible-md-block visible-lg-block visible-xl-block">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger btn-lg" ng-click="deleteReader(reader)">
            Delete Reader
        </button>
    </div>
    <div class="panel-footer visible-sm-block visible-xs-block">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger btn-sm" ng-click="deleteReader(reader)">
            Delete Reader
        </button>
    </div>
</div>