<ol class="breadcrumb">
    <li><a href="/#/stories"><i class="fa fa-book"></i> Stories</a></li>
    <li><a href="/#/stories/{{readers.storyId}}"><i class="fa fa-pencil-square-o"></i> {{readers.title}}</a></li>
    <li class="active"><i class="fa fa-table"></i> Readers</li>
</ol>
<div class="panel panel-warning">
    <div class="panel-heading"><h3 class="panel-title">Readers for <em>{{readers.title}}</em></h3></div>
    <div class="panel-body">
        <div class="visible-md-block visible-lg-block"> <!-- Desktop/Tablet display -->
            <div class="table-responsive">
                <table id="readers" class="table table-striped table-hover table-condensed table-fixedheader">
                    <thead>
                        <tr>
                            <th ng-click="sortBy='name';sortReverse=!sortReverse">
                                Name
                                <span ng-show="sortBy == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortBy == 'name' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th ng-click="sortBy='readDate';sortReverse=!sortReverse">
                                Read Date
                                <span ng-show="sortBy == 'readDate' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortBy == 'readDate' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th>Comments</th>
                        </tr>
                        <tr>
                            <td class="bg-warning">
                                <span class="glyphicon glyphicon-search" ng-show="showFilters != true" ng-click="showFilters = true"></span>
                                <span class="glyphicon glyphicon-remove" ng-show="showFilters == true" ng-click="showFilters = false;search = []"></span>
                                <span ng-show="showFilters != true" ng-click="showFilters = true" class="small search">Search</span>
                                <span ng-show="showFilters == true" ng-click="showFilters = false;search = []" class="small search">Search</span>
                            </td>
                        </tr>
                        <tr ng-show="showFilters == true" class="bg-warning">
                            <th><input class="form-control" ng-model="search.name" /></th>
                            <th><input class="form-control" ng-model="search.readDate" />
                            <th><input class="form-control" ng-model="search.comment" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-model="readers" ng-repeat="reader in readers.readers | orderBy:sortBy:sortReverse | filter:search">
                            <td><p class="form-control-static"><a ng-href="/#/stories/{{readers.storyId}}/readers/{{reader.readerId}}">{{reader.name}}</a></p></td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-change="$parent.updateReader(reader)" is-open="status.subOpened" uib-datepicker-popup ng-model="reader.readDate" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="status.subOpened=!status.subOpened"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <input ng-change="$parent.updateReader(reader)" ng-model="reader.comment" class="form-control" type="text" />
                            </td>
                        </tr>
                        <tr ng-show="readers.readerCount == 0"><td><p class="bg-warning">No readers for this story yet.</p></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="visible-sm-block visible-xs-block">
            <div class="list-group">
                <a ng-repeat="reader in readers.readers | orderBy:sortBy:sortReverse | filter:search" ng-href="/#/stories/{{readers.storyId}}/readers/{{reader.readerId}}" class="list-group-item"><span>{{reader.name}}</span><span class="pull-right">{{$parent.dateForMobile(reader.readDate)}}</span></a>
            </div>
        </div>
    </div>
    <div class="panel-footer visible-md-block visible-lg-block">
        <button type="button" class="btn btn-warning btn-lg" ng-click="newReader(readers.storyId, readers.title)">
            New Reader
        </button>
    </div>
    <div class="panel-footer visible-sm-block visible-xs-block">
        <button type="button" class="btn btn-success btn-sm" ng-click="newReader(readers.storyId, readers.title)">
            New Reader
        </button>
    </div>
</div>