<div class="container-fluid bg-white main-content pt-3 pb-3">
    <h1>About Us</h1>
    <p class="lead">
        StoryTracker, the internet's only 100% free-as-in-beer story submission and reader tracking website!
    </p>

    <h2>Who are we?</h2>
    <figure class="figure">
        <img src="assets/profile.jpg" class="figure-img img-fluid rounded" alt="Would you trust this man?">
        <figcaption class="figure-caption">Would you trust this man?</figcaption>
    </figure>
    <p>
        "We" are Damon Kaswell. I'm a writer and developer (not necessarily in that order) located in Eugene, Oregon.
        I'm an alumni of the <strong>Wordos</strong> writing workshop, and prior 3rd-place winner of the
        <strong>Writers of the Future</strong> contest. I have multiple publishing credits, and while my focus has
        shifted from writing stories to writing code, I have a great deal of love for both.
    </p>

    <h2>Why are you doing this?</h2>
    <p>
        There are a number of different ways a writer can keep track of the cloud of metadata surrounding her fiction:
    </p>
    <ul>
        <li>Try to memorize every single detail. Word count? Submission history? First readers? Just memorize it! (Note: This never works.)</li>
        <li>Keep everything in a text file that can't be sorted and will inevitably be lost or become extremely cumbersome to use. (Note: This actually works, but is universally hated.)</li>
        <li>Spend a year trying to master spreadsheets well enough to be <em>almost</em> sure, kinda, that the macro she wrote
            to record market submissions will do it correctly. (Note: Yeah, right.)
        </li>
        <li>Design a personal database using something like Microsoft Access. (Note: No one has ever successfully done this.)
        <li><strong>Sign up for a web-based service.</strong> (Note: This is the only choice that reliably works.)</li>
    </ul>
    <p>
        There are several quality services that do the job well. But none of them do quite the job <em>I want</em>. Their focus
        tends to be on tracking markets, with submissions as an afterthought, and nothing to take reader notes on. Having
        come from a major writing group, I want some way to take notes during a critique session and have them associated with
        my story. Nothing quite works for that right now.
    </p>
    <p>
        So one day, I thought to myself, "Damon, you're a developer. Why don't you create this?" And I did.
    </p>

    <h2>Is this really free?</h2>
    <p>
        Yes. Really free. There will never be a fee, and there will never be a "pro" or "premium" version. It might
        get advertising, and you can donate to me to help keep the server running if you want. But this is a labor of love
        for the science fiction and fantasy writing community (and a lovely addition to my development portfolio; I personally
        wrote every single line of code for this project).
    </p>

    <h2>Neat! Can I help?</h2>
    <p>
        Sure! The code is open source, divided into two pieces:
    </p>
    <ul>
        <li><strong><a href="https://github.com/GoodDamon/storytracker-frontend">Frontend</a></strong></li>
        <li><strong><a href="https://github.com/GoodDamon/storytracker-api">Backend</a></strong></li>
    </ul>
    <p>
        The frontend component is written as an Angular application, and uses Bootstrap throughout, because I'm not a graphic
        designer and might as well be color blind. The backend component is written as a Node.js/Express application, with
        MongoDB for database storage. If you're inclined to help, go ahead and make that pull request!
    </p>

    <h2>This seems a bit rough around the edges.</h2>
    <p>
        That's because I'm a one-man show with other responsibilities. Sorry. But I promise your data is safe! And I'm
        continuously working to improve everything. Thanks for noticing!
    </p>
</div>
