<!-- New Reader dialog -->
<div class="modal-header">
    <h4 class="modal-title">New Reader for <em>{{title}}</em></h4>
</div>
<div class="modal-body">
    <label for="new-name">Name</label>
    <input ng-model="reader.name" class="form-control" type="text" id="new-name" />
    <label for="new-readDate">Read Date</label>
    <input ng-model="reader.readDate" class="form-control" type="date" id="new-readDate" />
    <label for="new-comment">Comments</label>
    <textarea ng-model="reader.comment" class="form-control" id="new-comment"></textarea>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="CANCEL()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="OK(reader)">Save</button>
</div>