<!-- New Submission dialog -->
<div class="modal-header">
    <h4 class="modal-title">New Submission for <em>{{title}}</em></h4>
</div>
<div class="modal-body">
    <label for="new-market">Market</label>
    <input ng-model="sub.market" class="form-control" type="text" id="new-market" />
    <div class="row">
        <div class="col-md-4">
            <label for="new-subDate">Submission Date</label>
            <div class="input-group" id="new-subDate">
                <input type="text" class="form-control" is-open="status.subOpened" uib-datepicker-popup ng-model="sub.subDate" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="status.subOpened=!status.subOpened"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <label for="new-replyDate">Reply Date</label>
            <div class="input-group" id="new-replyDate">
                <input type="text" class="form-control" is-open="status.replyOpened" uib-datepicker-popup ng-model="sub.replyDate" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="status.replyOpened=!status.replyOpened"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <label for="new-response">Response</label>
            <select id="new-response" class="form-control" ng-model="sub.response" ng-options="response.name as response.id for response in responseList"></select>
        </div>
    </div>
    <label for="new-comment">Comments</label>
    <textarea ng-model="sub.comment" class="form-control" id="new-comment"></textarea>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="CANCEL()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="OK(sub)">Save</button>
</div>