<!-- New Story dialog -->
<div class="modal-header">
    <h4 class="modal-title">New Story</h4>
</div>
<div class="modal-body">
    <label for="new-title">Title</label>
    <input ng-model="story.title" class="form-control" type="text" id="new-title" />
    <label for="new-words">Words</label>
    <input ng-model="story.words" class="form-control" type="number" id="new-words" />
    <label for="new-genre">Genre</label>
    <select id="new-genre" class="form-control" ng-model="story.genre" ng-options="genre.name as genre.id for genre in genreList"></select>
    <label for="new-status">Status</label>
    <select id="new-status" class="form-control" ng-model="story.status" ng-options="status.name as status.id for status in statusList"></select>
    <label for="new-comments">Comments</label>
    <textarea ng-model="story.comments" class="form-control" id="new-comments"></textarea>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="CANCEL()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="OK(story)">Save</button>
</div>