<div class="modal-header bg-success text-white">
    <h4 class="modal-title pull-left">Create new submission</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row bg-info text-white border rounded p-2 m-1">
            <div class="col-5">
                <div class="form-group mb-2">
                    <label>Market</label>
                    <div class="input-group">
                        <input
                            [(ngModel)]="submission.market"
                            type="text"
                            class="form-control form-control-sm"
                            placeholder="Market"
                            aria-label="Market"
                        />
                        <div class="input-group-append" dropdown>
                            <button type="button" dropdownToggle class="btn btn-primary btn-sm dropdown-toggle">
                                <span class="caret"></span>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem" *ngFor="let market of data.markets">
                                    <a class="dropdown-item" (click)="submission.market = market">
                                        {{market}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group mb-2">
                    <label>Submission Date</label>
                    <div class="input-group">
                        <input
                            [(ngModel)]="submission.subDate"
                            #subDate="bsDatepicker"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                            type="text"
                            class="form-control form-control-sm"
                            aria-label="Submission Date"
                        />
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-sm" (click)="subDate.toggle()">
                                <i class="fas fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group mb-2">
                    <label>Reply Date</label>
                    <div class="input-group">
                        <input
                            [(ngModel)]="submission.replyDate"
                            #replyDate="bsDatepicker"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                            type="text"
                            class="form-control form-control-sm"
                            aria-label="Reply Date"
                        />
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-sm" (click)="replyDate.toggle()">
                                <i class="fas fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group mb-2">
                    <label>Response</label>
                    <div class="input-group">
                        <input *ngIf="submission.replyDate === null || submission.replyDate === undefined"
                            type="text"
                            class="form-control-plaintext form-control-sm"
                            value="Waiting"
                            readonly
                        />
                        <select *ngIf="submission.replyDate !== null && submission.replyDate !== undefined"
                            [(ngModel)]="submission.response"
                            class="form-control form-control-sm"
                            aria-label="Response"
                        >
                            <option value="Sold">Sold</option>
                            <option value="Rejected">Rejected</option>
                            <option value="Rewrite">Rewrite</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group mb-2">
                    <label>Comments</label>
                    <quill-editor
                        [style]="{height: 'calc(100vh - 520px)'}"
                        [(ngModel)]="submission.comment">
                    </quill-editor>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-outline-success" (click)="save()"><i class="fas fa-save"></i> Save</button>
    <button class="btn btn-outline-secondary ml-4" (click)="cancel()"><i class="fas fa-ban"></i> Cancel</button>
</div>
