<div class="modal-header bg-success text-white">
    <h4 class="modal-title pull-left">Create new submission</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="form-group mb-2">
            <label>Market</label>
            <div class="input-group">
                <input
                    [(ngModel)]="submission.market"
                    type="text"
                    class="form-control"
                    placeholder="Market"
                    aria-label="Market"
                />
                <div class="input-group-append" dropdown>
                    <button type="button" dropdownToggle class="btn btn-outline-success dropdown-toggle">
                        <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem" *ngFor="let market of data.markets">
                            <a class="dropdown-item" (click)="submission.market = market">
                                {{market}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-outline-success" (click)="save()"><i class="fas fa-save"></i> Save</button>
    <button class="btn btn-outline-secondary ml-4" (click)="cancel()"><i class="fas fa-ban"></i> Cancel</button>
</div>
