<h1>{{story.title}}</h1>

<p>{{story.comments}}</p>

<p>Writing status: {{story.status}}</p>

<ul class="meta">
  <li>
    <span>Primary Genre</span>
    <dl>
      <dd>{{story.genre}}</dd>
    </dl>
  </li>
  <li>
    <span>Secondary Genres</span>
    <dl>
      <dt>Science Fiction</dt>
      <dd>{{story.scifi}}</dd>
    </dl>
    <dl>
      <dt>Fantasy</dt>
      <dd>{{story.fantasy}}</dd>
    </dl>
    <dl>
      <dt>Surreal</dt>
      <dd>{{story.surreal}}</dd>
    </dl>
    <dl>
      <dt>Horror</dt>
      <dd>{{story.horror}}</dd>
    </dl>
    <dl>
      <dt>Literary</dt>
      <dd>{{story.literary}}</dd>
    </dl>
    <dl>
      <dt>Mainstream</dt>
      <dd>{{story.mainstream}}</dd>
    </dl>
  </li>
  <li>
    <span>Statistics</span>
    <dl>
      <dt>Word Count</dt>
      <dd>{{story.wordcount}}</dd>
      <dt>Submission Count</dt>
      <dd>{{story.submission.count}}</dd>
    </dl>
  </li>
  <li>
    <span>Submissions</span>
    <dl>
      <dt>Current Status</dt>
      <dd>{{story.submission.status}}</dd>
      <dt>Most Recent Submission</dt>
      <dd>{{story.submission.recent}}</dd>
    </dl>
  </li>
</ul>