<main class="bg-light rounded-bottom">
    <div class="container">
        <h1>StoryTracker</h1>
        <p class="lead">
            StoryTracker is a free tool to track and organize your stories.
        </p>
        <p>
            As a writer, I needed a way to keep track of my stories and story submissions. I wanted something with
            more options than a spreadsheet, but without the complications so common in online trackers. My needs were
            simple:
        </p>
        <ul>
            <li>A place to track stories...</li>
            <li>...and their submissions...</li>
            <li>...and their first-draft readers.</li>
        </ul>
        <p class="strong">
            That's it. Nothing else.
        </p>
        <p>
            Yet surprisingly, it was complicated to accomplish that with a spreadsheet. So StoryTracker was born!
        </p>
        <p>
            StoryTracker aims for simplicity, while giving you plenty of features for keeping track of story and story
            submission metadata. Never accidentally send a story to two markets at once again! Never accidentally double
            submit to a single market again! StoryTracker keeps track of what is currently where, so you don't have to.
        </p>
        <a routerLink="../signup" class="btn btn-lg btn-outline-success">Awesome! Sign me up!</a>
        <h2>...Wait, tell me more.</h2>
        <p class="lead">
            StoryTracker divides the metadata for your stories into three sections.
        </p>
        <dl>
            <dt>
                Stories
            </dt>
            <dd>
                Here you can view and edit details about your story itself, including:
                <ul>
                    <li>Title</li>
                    <li>Genre</li>
                    <li>Words</li>
                    <li>Finished state (first draft, editing, finished, and so on)</li>
                    <li>Comments</li>
                </ul>
                You'll also see various statistics derived from other sections, such as the number of times the story
                has been submitted, how many first readers it has, the current market it's at, and so on.
            </dd>
            <dt>
                Submissions
            </dt>
            <dd>
                The Submissions section is all about marketing and selling your story. You can see at a glance where the
                story has been, which markets have already rejected or purchased it, what the sale price was, and a
                summary of earnings the story has brought you, among other details.
            </dd>
            <dt>
                Readers
            </dt>
            <dd>
                In Readers, you'll keep track of your story critique notes and who has already read your story. Perfect
                for writing groups!
            </dd>
        </dl>
        <a routerLink="../signup" class="btn btn-lg btn-outline-success">Perfect! I'm ready!</a>
        <h2>...Just one more thing...</h2>
        <p class="lead">
            Before you ask, StoryTracker is free. Permanently free. Forever free.
        </p>
        <p>
            I may (or may not) add basic and unobtrusive advertising to this service someday. You can sign up to support
            StoryTracker on Patreon if you want to help me cover costs or buy me the occasional beer. But make no mistake,
            I built this tool for myself to <strong>use</strong>, and don't intend to charge for it.
        </p>
        <p>
            I will never sell your info, I will never send you spam, and I will never beg for money. Nor will I claim
            any rights to your metadata beyond what I need to display it back to you.
        </p>
        <p>
            Sometimes there really is such a thing as a free lunch.
        </p>
        <a routerLink="../signup" class="btn btn-lg btn-outline-success">I'm convinced! Let me in!</a>
    </div>
</main>
