<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" routerLink="/"><i class="fas fa-book"></i>&nbsp;StoryTracker</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" *ngIf="auth.isLoggedIn">
                    <a class="nav-link" routerLink="stories">My Stories</a>
                </li>
                <li class="nav-item" *ngIf="auth.isLoggedIn">
                    <a class="nav-link" (click)="showStats(statistics)">My Statistics</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-2">
                <li class="nav-item">
                    <a class="nav-link" routerLink="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="docs">Documentation</a>
                </li>
                <li class="nav-item" *ngIf="auth.isLoggedIn">
                    <a class="btn btn-primary text-white" (click)="logoutConfirm(logout)">Log Out</a>
                </li>
                <li class="nav-item" *ngIf="!auth.isLoggedIn">
                    <a class="btn btn-primary text-white" routerLink="login">Sign In</a>
                </li>
                <li class="nav-item ml-1" *ngIf="!auth.isLoggedIn">
                    <a class="btn btn-secondary text-white" routerLink="signup">Create Account</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="row m-0 p-0">
    <!-- <div class="col-2 pr-0" *ngIf="auth.isLoggedIn">
        <div class="sidebar position-sticky d-flex flex-column bg-info">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Statistics
                    </h5>
                    <pre>
Stories:     {{data.stats.stories}}
Submissions: {{data.stats.submissions}}
Waiting:     {{data.stats.waiting}}
Rewrite:     {{data.stats.rewrites}}
Sold:        {{data.stats.sales}}
Rejected:    {{data.stats.rejections}}
                    </pre>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-12 p-0">
        <router-outlet></router-outlet>
    </div>
</div>
<footer class="footer" *ngIf="!auth.isLoggedIn">
    <div class="container">
        <span class="text-muted">Copyright 2018, Damon Kaswell </span>
    </div>
</footer>

<ng-template #logout>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Logging out...</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure?
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary mr-auto" (click)="loggingOut = true; modalRef.hide()">Log Out</button>
        <button class="btn btn-secondary" (click)="modalRef.hide()">Cancel</button>
    </div>
</ng-template>

<ng-template #statistics>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Story Statistics</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <pre>
Stories:     {{data.stats.stories}}
Submissions: {{data.stats.submissions}}
Waiting:     {{data.stats.waiting}}
Rewrite:     {{data.stats.rewrites}}
Sold:        {{data.stats.sales}}
Rejected:    {{data.stats.rejections}}
        </pre>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>
