<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-warning">
        <a class="navbar-brand" routerLink="/"><i class="fas fa-book"></i>&nbsp;StoryTracker</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="docs">Documentation</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-2">
                <li class="nav-item" *ngIf="auth.isLoggedIn">
                    <a class="nav-link" routerLink="stories">My Stories</a>
                </li>
                <li class="nav-item" *ngIf="!auth.isLoggedIn">
                    <a class="btn btn-outline-primary" routerLink="login">Sign In</a>
                </li>
                <li class="nav-item ml-1" *ngIf="!auth.isLoggedIn">
                    <a class="btn btn-outline-secondary" routerLink="signup">Create Account</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Copyright 2018, Damon Kaswell </span>
    </div>
</footer>
