<main class="bg-light rounded-bottom">
    <div class="container">
        <accordion>
            <accordion-group *ngFor="let story of stories" heading="{{story.storyId}}. {{story.title}}">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group mb-2">
                            <label>Title</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{story.storyId}}.</span>
                                </div>
                                <input
                                    [(ngModel)]="story.title"
                                    type="text"
                                    class="form-control"
                                    placeholder="Story title"
                                    aria-label="Story title"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label>Word count</label>
                                    <input
                                        [(ngModel)]="story.words"
                                        type="text"
                                        class="form-control"
                                        aria-label="Word count"
                                    />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label>Genre</label>
                                    <div class="input-group">
                                        <input
                                            [(ngModel)]="story.genre"
                                            type="text"
                                            class="form-control"
                                            placeholder="Genre"
                                            aria-label="Genre"
                                        />
                                        <div class="input-group-append">
                                            <button type="button" dropdownToggle class="btn btn-info dropdown-toggle">
                                                <span class="caret"></span>
                                            </button>
                                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                                <li role="menuitem" *ngFor="let genre of genres">
                                                    <a class="dropdown-item" (click)="story.genre = genre">
                                                        {{genre}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label>Status</label>
                                    <div class="input-group">
                                        <input
                                            [(ngModel)]="story.status"
                                            type="text"
                                            class="form-control"
                                            placeholder="Status"
                                            aria-label="Status"
                                        />
                                        <div class="input-group-append">
                                            <button type="button" dropdownToggle class="btn btn-info dropdown-toggle">
                                                <span class="caret"></span>
                                            </button>
                                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                                <li role="menuitem" *ngFor="let status of statuses">
                                                    <a class="dropdown-item" (click)="story.status = status">
                                                        {{genre}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group mb-2">
                            <label>Comments</label>
                            <textarea
                                [(ngModel)]="story.comments"
                                class="form-control"
                                aria-label="Word count"
                            ></textarea>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</main>
