<div class="modal-header bg-success text-white">
    <h4 class="modal-title pull-left">Create new story</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row bg-info text-white border rounded p-2 m-1">
            <div class="col-4">
                <div class="form-group mb-2">
                    <label>Title</label>
                    <input
                        [(ngModel)]="story.title"
                        type="text"
                        class="form-control form-control-sm"
                        placeholder="Story title"
                        aria-label="Story title"
                    />
                </div>
            </div>
            <div class="col-3">
                <div class="form-group mb-2">
                    <label>Genre</label>
                    <div class="input-group">
                        <input
                            [(ngModel)]="story.genre"
                            (keyup)="data.updateDropdowns()"
                            type="text"
                            class="form-control form-control-sm"
                            placeholder="Genre"
                            aria-label="Genre"
                        />
                        <div class="input-group-append" dropdown>
                            <button type="button" dropdownToggle class="btn btn-primary btn-sm dropdown-toggle">
                                <span class="caret"></span>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem" *ngFor="let genre of data.genres">
                                    <a class="dropdown-item" (click)="story.genre = genre">
                                        {{genre}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group mb-2">
                    <label>Status</label>
                    <div class="input-group">
                        <input
                            [(ngModel)]="story.status"
                            (keyup)="data.updateDropdowns()"
                            type="text"
                            class="form-control form-control-sm"
                            placeholder="Status"
                            aria-label="Status"
                        />
                        <div class="input-group-append" dropdown>
                            <button type="button" dropdownToggle class="btn btn-primary btn-sm dropdown-toggle">
                                <span class="caret"></span>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem" *ngFor="let status of data.statuses">
                                    <a class="dropdown-item" (click)="story.status = status">
                                        {{status}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group mb-2">
                    <label>Word count</label>
                    <input
                        [(ngModel)]="story.words"
                        type="text"
                        class="form-control form-control-sm"
                        aria-label="Word count"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group mb-2">
                    <label>Comments</label>
                    <quill-editor
                        [style]="{height: 'calc(100vh - 520px)'}"
                        [(ngModel)]="story.comments">
                    </quill-editor>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="modal-footer">
        <button class="btn btn-outline-success" (click)="save()"><i class="fas fa-save"></i> Save</button>
        <button class="btn btn-outline-secondary ml-4" (click)="cancel()"><i class="fas fa-ban"></i> Cancel</button>
    </div>
</div>
