<div class="container-fluid bg-white main-content p-0">
    <div class="card bg-light border-0">
        <app-storynav class="card-header navbar"></app-storynav>
        <div class="card-body record-container">
            <div class="row bg-info text-white border rounded p-4 m-3">
                <div class="col-4">
                    <div class="form-group mb-2">
                        <label class="font-weight-bold">Title</label>
                        <input
                            [(ngModel)]="story.title"
                            type="text"
                            class="form-control form-control-sm"
                            placeholder="Story title"
                            aria-label="Story title"
                        />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group mb-2">
                        <label class="font-weight-bold">Genre</label>
                        <div class="input-group">
                            <input
                                [(ngModel)]="story.genre"
                                (keyup)="data.updateDropdowns()"
                                type="text"
                                class="form-control form-control-sm"
                                placeholder="Genre"
                                aria-label="Genre"
                            />
                            <div class="input-group-append" dropdown>
                                <button type="button" dropdownToggle class="btn btn-primary btn-sm dropdown-toggle">
                                    <span class="caret"></span>
                                </button>
                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                    <li role="menuitem" *ngFor="let genre of data.genres">
                                        <a class="dropdown-item" (click)="story.genre = genre">
                                            {{genre}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group mb-2">
                        <label class="font-weight-bold">Status</label>
                        <div class="input-group">
                            <input
                                [(ngModel)]="story.status"
                                (keyup)="data.updateDropdowns()"
                                type="text"
                                class="form-control form-control-sm"
                                placeholder="Status"
                                aria-label="Status"
                            />
                            <div class="input-group-append" dropdown>
                                <button type="button" dropdownToggle class="btn btn-primary btn-sm dropdown-toggle">
                                    <span class="caret"></span>
                                </button>
                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                    <li role="menuitem" *ngFor="let status of data.statuses">
                                        <a class="dropdown-item" (click)="story.status = status">
                                            {{status}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group mb-2">
                        <label class="font-weight-bold">Word count</label>
                        <input
                            [(ngModel)]="story.words"
                            type="text"
                            class="form-control form-control-sm"
                            aria-label="Word count"
                        />
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="form-group mb-2">
                        <label>Comments</label>
                        <quill-editor
                            [style]="{height: 'calc(100vh - 520px)'}"
                            [(ngModel)]="story.comments">
                        </quill-editor>
                    </div>
                    <div *ngFor="let alert of alerts">
                        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{alert.msg}}</alert>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer navbar">
            <button class="btn btn-outline-primary mr-2" [disabled]="!shared.state.storyChanged" (click)="save()">
                <i class="fas fa-save"></i> Save
            </button>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="story.finished" id="finished">
                <label class="form-check-label" for="finished">&nbsp;Mark as finished</label>
            </div>
            <a class="text-success ml-auto" routerLink="submissions">
                <i class="fas fa-list"></i> Submissions
            </a>
            <a class="text-info ml-3" routerLink="readers">
                <i class="fas fa-users"></i> Readers
            </a>
        </div>
    </div>
</div>
