@import url('https://use.fontawesome.com/releases/v5.0.8/css/solid.css');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css');
@import url('https://cdn.quilljs.com/1.3.6/quill.snow.css');
@import url('https://cdn.quilljs.com/1.3.6/quill.bubble.css');

body {
    padding-top: 56px;
    /* margin-bottom: 60px; */
}

main > .container {
    padding-bottom: 20px;
}

.story-record {
    cursor: pointer;
}

.record-container {
    height: calc(100vh - 188px);
    overflow-y: auto;
}

.modal-lg {
    max-width: 90% !important;
}
