<div class="container-fluid bg-white main-content p-0">
    <div class="card bg-light border-0">
        <app-storynav class="card-header navbar"></app-storynav>
        <div class="card-body record-container">
            <div class="row bg-info text-white border rounded p-4 m-3">
                <div class="col-6">
                    <div class="form-group mb-2">
                        <label>Name</label>
                        <div class="input-group">
                            <input
                                [(ngModel)]="reader.name"
                                type="text"
                                class="form-control form-control-sm"
                                placeholder="Reader"
                                aria-label="Reader"
                            />
                            <div class="input-group-append" dropdown>
                                <button type="button" dropdownToggle class="btn btn-primary btn-sm dropdown-toggle">
                                    <span class="caret"></span>
                                </button>
                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                    <li role="menuitem" *ngFor="let name of data.names">
                                        <a class="dropdown-item" (click)="reader.name = name">
                                            {{name}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group mb-2">
                        <label>Read on</label>
                        <div class="input-group">
                            <input
                                [(ngModel)]="reader.readDate"
                                #subDate="bsDatepicker"
                                bsDatepicker
                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                type="text"
                                class="form-control form-control-sm"
                                aria-label="Read Date"
                            />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-sm" (click)="subDate.toggle()">
                                    <i class="fas fa-calendar-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group mb-2">
                        <label>Rating</label><br/>
                        <rating [(ngModel)]="reader.rating" [max]="10" [readonly]="false"></rating>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group mb-2">
                        <label>Critique Notes</label>
                        <quill-editor
                            [style]="{height: 'calc(100vh - 520px)'}"
                            [(ngModel)]="reader.comment">
                        </quill-editor>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-primary" [disabled]="!shared.state.readerChanged" (click)="save()">
                <i class="fas fa-save"></i> Save
            </button>
        </div>
    </div>
</div>
